.index {
  display: flex;
}

.channel-container {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  // margin-left: 12%;
  padding: 2% 0;
  height: 94vh;
  align-content: flex-end;
  background: white;
}

.messages-container {
  height: 96%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  align-content: flex-end;
}

.message-input {
  padding: 7px;
  border: 2px solid #717274;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 1.0rem;
}

.message-input:focus {
  border: 2px solid #717274;
}

.message-form {
  width: 96%;
  margin: 10px auto;
}

.message {
  line-height: 1.4rem;
  width: 96%;
  margin-left: 16px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.author-username {
  margin-right: 10px;
}

.message-list {
  margin-top: auto;
}

.message-item {
  display: flex;
  align-items: flex-start;
  width: 97.8%;
  margin: 10px 0 10px auto;
}

.message-item:hover {
  background: whitesmoke;
}

.message-item button {
  height: 30px;
  width: 80px;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid #717274;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.message-time {
  margin-left: 16px;
  color: #9e9ea6;
  font-weight: normal;
  font-size: .7rem;
}

.message-list-header {
  width: 88%;
  height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  left: 12%;
  z-index: 5;
  background: white;
  display: flex;
  align-items: center;
}

.message-list-header-info, .message-list-header-buttons {
  text-align: center;
}

.message-list-header-info {
  display: flex;
  margin-left: 2%;
}

.message-list-header-info p {
  padding-right: 20px;
}

.message-list-header-buttons {
  margin-left: auto;
  margin-right: 12%;
}

.message-list-header-buttons button {
  height: 40px;
  width: 80px;
  margin-left: 40px;
  border: 1px solid #717274;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.message-list-header-buttons button:hover {
  height: 40px;
  width: 80px;
  margin-left: 40px;
  border: 1px solid #717274;
  border-radius: 5px;
  background: whitesmoke;
  cursor: pointer;
}