.channel-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 60vw;
  margin-left: 12%;
  padding: 2% 0;
  height: 94vh;
  align-content: flex-end;
  background: white;
}

.messages-container {
  height: 96%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  align-content: flex-end;
}

.message-input {
  padding: 7px;
  border: 2px solid #717274;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 1.0rem;
}

.message-input:focus {
  border: 2px solid #717274;
}

.message-form {
  width: 96%;
  margin: 10px auto;
}

.message {
  line-height: 1.4rem;
  width: 96%;
  margin-left: 16px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.author-username {
  margin-right: 10px;
}

.message-list {
  margin-top: auto;
}

.message-item {
  display: flex;
  align-items: flex-start;
  width: 95%;
  margin: 10px auto;
}

.message-time {
  margin-left: 16px;
  color: #9e9ea6;
  font-weight: normal;
  font-size: .7rem;
}