.sidebar {
  color: white;
  width: 12%;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.danger-btn {
  color: white;
  background: red;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
};

.username-display {
  font-size: 1rem;
  color: rgb(184,176,183);
  margin-bottom: 5%;
  padding-left: 15px;
}

.channels-list, .dms-list {
  margin-top: 5px;
}

.channels-title, .dms-title {
  color: rgb(184,176,183);
  margin-top: 20px;
  padding-left: 15px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.channels-title i:hover, .dms-title i:hover {
  color: white;
  cursor: pointer;
}

.channels-list li, .dms-list li {
  color: rgb(184,176,183);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.channels-list li:hover, .dms-list li:hover, .username-area:hover {
  background: #3E313C;
}

.selected-channel li {
  background: #4C9689;
  color: white;
}

.selected-channel li:hover {
  background: #4C9689;
  color: white;
}

.fa-circle {
  color: #38978D;
  margin-right: 5px;
}

.username-area {
  height: 40px;
  line-height: 40px;
}

.username-area:hover {
  cursor: pointer;
}

.user-menu {
  cursor: default;
}

.user-menu {
  background: white;
  position: absolute;
  z-index: 6;
  width: 200px;
  left: 15px;
  top: 75px;
  color: black;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,.15);
}

.user-menu-name-area {
  display: flex;
}

.user-menu-name-area h3 {
  margin-left: 5px;
}

.signout {
  border-radius: 6px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1rem;
  height: 1rem;
  line-height: 1rem;
  margin-top: 5px;
  color: black;
  cursor: pointer;
}

.signout:hover {
  background: rgb(45, 158, 224);
  color: white;
}
