.sidebar {
  color: white;
  width: 12%;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.danger-btn {
  color: white;
  background: red;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
};

.username-display {
  text-align: center;
  margin-bottom: 5%;
}

.channels-list, .dms-list {
  margin-top: 5px;
}

.channels-title, .dms-title {
  color: rgb(184,176,183);
  margin-top: 20px;
  padding-left: 15px;  
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.channels-title i:hover, .dms-title i:hover {
  color: white;
  cursor: pointer;
}

.channels-list li, .dms-list li {
  color: rgb(184,176,183);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.channels-list li:hover, .dms-list li:hover {
  background: #3E313C;
}

.selected-channel li {
  background: #4C9689;
  color: white;
}

.selected-channel li:hover {
  background: #4C9689;
  color: white;
}