.splash-page-container {
  width: 64%;
  margin: 200px auto;
  display: flex;
  height: 60vh;
}

.splash-page-section {
  width: 50%;
}

.splash-page-image {
  background: image-url('splash.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5%;
}

.splash-page-section h1 {
  margin-bottom: 30px;
}

.splash-big-font {
  font-size: 4.8rem;
  font-family: 'Neuton', 'Times New Roman', Georgia, serif;
}

.splash-small-font {
  font-size: 1.25rem;
  line-height: 1.75rem;
}